{% extends 'base.html.twig' %}

{% block title %}Accueil Festival Technonite
{% endblock %}

{% block body %}

	<div class="card border-secondary mb-3" style="max-width: 80rem; margin: 3em">
		<div class="card-header"></div>
		<div class="card-body">
			<h2 class="card-title">Présentation du Festival Technonite</h2>
			<p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus sint reiciendis quae illo officiis aliquid officia libero doloribus consequatur sed facilis dolores, tenetur alias aut quaerat, facere asperiores, exercitationem nostrum esse quas. Id sapiente sequi unde quaerat rem sed dignissimos ut assumenda tempore voluptatibus nobis commodi impedit voluptas illo est nostrum qui, et excepturi libero repellendus voluptate aperiam dolorum quae minus! Asperiores itaque doloremque voluptatem id ex perferendis libero accusantium facilis, aliquid, deleniti alias quam iste, reprehenderit dolore recusandae eligendi quisquam vel. Voluptate tempore minus eos ipsam nobis reprehenderit error illo commodi quam fugiat ullam recusandae sapiente impedit distinctio, natus, voluptatum saepe iure magni at vero harum veritatis quasi! Excepturi accusamus nobis fugit beatae rerum praesentium voluptatibus fuga veniam. A ipsa repellat nam minus non ullam reiciendis alias, tenetur, ut molestiae, consequuntur quod? Reprehenderit nostrum laborum earum modi explicabo incidunt, adipisci officia dicta mollitia dolorum nulla quisquam excepturi quia sequi labore voluptatibus, neque molestiae quibusdam facilis id voluptatem quos doloremque! Iure, doloremque hic! Eveniet debitis architecto doloremque rerum pariatur amet nihil obcaecati, nulla vel sequi, itaque vitae asperiores vero commodi culpa laudantium similique, dolor a minima eaque eos provident.</p>
		</div>
	</div>


{% endblock %}
